.intro
{
    text-align: center;
    font-size: 25;
    font-family: fantasy;
    color: red;
}

.checkbox
{
    text-align:center;
    line-height: 250%;
    font-size: 15;
}

.gameMenu
{
    text-align: center;
    padding-bottom: 10px;
}

.getButton
{
    text-align: center;
}

.canvas
{
    text-align: center;
}

.footer
{
    text-align: center;
}
